body {
	background-image: url(/images/records_box.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

#page {
	margin-top: 80px;
}

h1 {
	color: #E61E8F;
}

.album-art {
	width: 150px;
	height: 150px;
}

.album-body {
	background-color: #484848;
	margin-bottom: 10px;
	padding: 10px 0px 10px 0px;
	color: white;
	font-weight: bold;
}

.album-header {
	background-color: #1D1D1D;
	color: white;
}

.artist-header {
	/*background-color: #484848;*/
	/*padding: 17px 0px 0px 0px;*/
	margin-bottom: 10px;
}

.glyphicon {
	font-size: 25px;
}

.glyphicon:hover, .glyphicon:focus {
	color: #E61E8F;
}

.status-header {
	font-weight: bold;
	font-size: 1.5em;
	color: #E61E8F;
	background-color: rgba(56, 56, 56, 0.7);
}

.status-row {
	background-color: rgba(25, 25, 25, 0.7);
	margin: 5px 0px 5px 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.status-row:nth-child(2n) {
	background-color: rgba(56, 56, 56, 0.7);
}

.torrent-text {
	font-weight: bold;
	color: #EDE9EB;
}